@model List<QuestionModel>

@{
    ViewData["Title"] = "Criar Prova";
}

<div class="container mt-5">
    <h2 class="text-center text-primary">Criar uma Nova Prova</h2>
    <hr>

    <form asp-controller="Questions" asp-action="GenerateExamPdf" method="post">
        <div class="mb-3">
            <label for="examTitle" class="form-label">Nome da Prova:</label>
            <input type="text" id="examTitle" name="examTitle" class="form-control" required>
        </div>

        <div class="list-group">
            @foreach (var question in Model)
            {
                <div class="list-group-item list-group-item-action mb-3 shadow-sm border-primary">
                    <input type="checkbox" name="selectedQuestions" value="@question.Id" class="form-check-input me-2">
                    <label class="form-check-label">
                        <h5 class="fw-bold">@question.Question</h5>
                        <p class="mb-1 text-muted">Nível: <span class="fw-semibold">@question.Level</span></p>
                    </label>
                </div>
            }
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Gerar PDF da Prova</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>
</div>
